@use "./variables.scss";
@use "./base.scss";
@use "./overwrite.scss";

html {
    touch-action: manipulation;
}

body {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    touch-action: manipulation;
}
